@import "path/to/file/../mixins/mixins";

$nav-height: 100px;
$logo-font-size: 1.6rem;
$logo-font-weight: 900;
$logo-font-family: var(--font-secondary);
$min-width-link-and-nav: 120px;

.ig-snttbc-nav-logo {
  &__text {
    padding: 0.2em;
    color: var(--color-white);
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;
    font-family: $logo-font-family;
    text-transform: uppercase;
    &:hover {
      @include outline-focus;
    }
    @media only screen and (max-width: $bp-lg) {
      font-weight: 700;
    }
  }
  &__tagline {
    text-transform: none;
    color: var(--color-white);
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
  }
}

.ig-snttbc-navbar-toggler__line {
  background: var(--color-white);
}

.ig-snttbc-nav {
  &__container {
    background: var(--color-dark);
    height: $nav-height;
    min-height: $nav-height;
  }

  &__list {
      @media only screen and (max-width: $navbar-breakpoint-main) {
        // min-width: $min-width-link-and-nav;
      margin-top: calc(#{$nav-height} + 20px);
    }
  }

  &__list-item {
    @media only screen and (max-width: $navbar-breakpoint-main) {
      font-size: 1.6rem;
      padding: 0 3em;
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    font-family: var(--font-secondary);
    padding: 30px;
    padding: 2em;
    text-align: center;
    
    @media only screen and (max-width: $bp-lg) {
        padding: 1.6em;
        min-width:$min-width-link-and-nav;
    }
    @media only screen and (max-width: $navbar-breakpoint-main) {
        padding: 1.6em;
        min-width:200px;
    }

    &:hover,
    &:focus {
      @include outline-focus;
      color: var(--color-white);
    }
  }
}

.ig-snttbc-dropdown-menu {
  &__list {
    background-color: var(--color-dark);
    @media only screen and (max-width: $navbar-breakpoint-main) {
      background-color: lighten(#040710, 3%);
    }
  }
 
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 400;
    padding: 30px;

    &:hover,
    &:focus {
      @include outline-focus;
      color: var(--color-white);
    }
  }
}



// if you leave this styles incomented, then add false to the
// js import 
//   addFunctionalityToIgNavbarsnttbCollapse('snttbc', false);
// otherwise leave true;


// .ig-snttbc-dropdown-menu__container:hover > ul,
// .ig-snttbc-dropdown-menu__container:focus-within > ul,
// .ig-snttbc-dropdown-menu__container ul:hover {
//   visibility: visible;
//   opacity: 1;
//   display: block;
// }